@import url("https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=My+Soul&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  this is navigation section */

.heading-section {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  width: 1440px;
  height: 700px;
  margin: 0 auto;
}

nav {
  width: 1140px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px auto;
  margin: 0 auto;
}

.logo {
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}

nav ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.btn-primary {
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  background-color: #4e47ff;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

ul li a .btn-primary:hover {
  background-color: #02011b;
  color: rgb(77, 236, 77);
}

/* banner section start now  */

.banner {
  text-align: center;
}

.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #252432;
  margin-top: 140px;
  font-family: "Raleway", sans-serif;
}

.btn-banner {
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  background-color: #4e47ff;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
}

.btn-banner:hover {
  background-color: #02011b;
  color: rgb(77, 236, 77);
}

/* action section */

.wrapper {
  width: 1140px;
  height: 330px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 0 auto;
  margin-top: 60px;
}

.wrapper-container {
  margin: auto 0;
}

.action-title {
  font-size: 42px;
  font-weight: 700;
  color: #252432;
  font-family: "Raleway", sans-serif;
}

.action-desc {
  font-size: 24px;
  color: #25243280;
  font-weight: 400;
  line-height: 34px;
}

.btn-action {
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  background-color: #4e47ff;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
}

.btn-action:hover {
  background-color: #02011b;
  color: rgb(77, 236, 77);
}

.image-webflow img {
  border-radius: 48px;
}

/*  action users section */

.wrapper-users {
  width: 1140px;
  height: 330px;
  margin: 0 auto;
  background-color: #4e47ff1a;
  margin: 0 auto;
  padding: 50px 80px;
  margin-top: 100px;
  border-radius: 24px;
  font-family: "Raleway", sans-serif;
}

.users-title {
  font-size: 40px;
  font-weight: 700;
  color: #252432;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.users-wrapper-container {
  display: flex;
  justify-content: space-around;
  align-items: last baseline;
  margin-top: 40px;
}

.user-active {
  font-size: 84px;
  font-weight: 900;
  color: #4e47ff;
}

.users-desc {
  font-size: 20px;
  font-weight: 400;
  color: #00000080;
}

/* user rating section */

.wrapper-rating-users {
  width: 1140px;
  height: 400px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #f2eded;
}

.rating-title {
  font-size: 42px;
  font-weight: 700;
  color: #252432;
  text-align: center;
  margin-top: 90px;
  font-family: "Raleway", sans-serif;
  padding: 30px;
}

.wrapper-rating-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
  margin: 20px;
}

.icon-content {
  border-radius: 14px;
  box-shadow: 0 2px 4px 0px;
  background-color: #ffffff;
  padding: 24px;
  width: 330px;
  height: 220px;
}

.users-rating-title {
  font-size: 20px;
  font-weight: 400;
  color: #00000080;
  letter-spacing: -2%;
}

.users-rating-desc {
  font-size: 20px;
  font-weight: 400;
  color: #00000080;
}

.revewer-section {
  display: flex;
  justify-content: left;
  align-items: center;
  /* margin: 0 auto; */
}

.revewer-content {
  width: 320px;
  height: 300px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.revewer-name-date {
  text-align: left;
  margin-left: 20px;
  padding: 5px;
}
.text-reveiwe {
  font-size: 20px;
  font-weight: 400;
  color: #1d1919e0;
}

.reveiwe-date {
  font-size: 20px;
  font-weight: 400;
  color: #00000080;
}
